SSH_USER=xxx
SSH_HOST=xxx
SSH_PORT=22
REMOTE_DIR=/var/www/example.com

# Build
bin/jekyll build

# Sync files
rsync -avch -e "ssh -p $SSH_PORT" --delete ./_site/ $SSH_USER@$SSH_HOST:$REMOTE_DIR

# Touch all files files
#ssh $SSH_USER@$SSH_HOST find $REMOTE_DIR -type f -exec touch {} +

# Set directories to 755
ssh $SSH_USER@$SSH_HOST -p $SSH_PORT <<'ENDSSH'
find $REMOTE_DIR -type d -exec chmod 755 {} \;
ENDSSH

# Set files to 644
ssh $SSH_USER@$SSH_HOST -p $SSH_PORT <<'ENDSSH'
find $REMOTE_DIR -type f -exec chmod 644 {} \;
ENDSSH

