<span class="mobile btn-mobile-menu">
  <i class="icon icon-list btn-mobile-menu__icon"></i>
  <i class="icon icon-x-circle btn-mobile-close__icon hidden"></i>
</span>

<!-- <header class="panel-cover" style="background-image: url({{ "images/cover.jpg" | prepend: site.baseurl }})"> -->
<header class="panel-cover">
  <div class="panel-main">

    <div class="panel-main__inner panel-inverted" id="topmost-layer">
    <div class="panel-main__content">
        <a href="{{ site.baseurl }}" title="link to home of {{ site.title }}">
          <img src="{{ "images/profile.png" | prepend: site.baseurl }}" class="user-image" alt="My Profile Photo">
          <h1 class="panel-cover__title panel-title">{{ site.title }}</h1>
        </a>
        <hr class="panel-cover__divider">
        <p class="panel-cover__description">{{ site.description }}</p>
        <hr class="panel-cover__divider panel-cover__divider--secondary">

        <div class="navigation-wrapper">

          <nav class="cover-navigation cover-navigation--primary">
            <ul class="navigation">
              <li class="navigation__item"><a href="{{ site.baseurl }}#blog" title="link to {{ site.title }} blog" class="blog-button">Blog</a></li>
              <li class="navigation__item"><a href="{{ site.baseurl }}about" title="about">About</a></li>
            </ul>
          </nav>

          <nav class="cover-navigation navigation--social">
            <ul class="navigation">

            {% if site.author.twitter_username %}
              <!-- Twitter -->
              <li class="navigation__item">
                <a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
                  <i class="icon icon-social-twitter"></i>
                  <span class="label">Twitter</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.facebook_username %}
              <!-- Facebook -->
              <li class="navigation__item">
                <a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
                  <i class="icon icon-social-facebook"></i>
                  <span class="label">Facebook</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.linkedin_username %}
              <!-- LinkedIn -->
              <li class="navigation__item">
                <a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank">
                  <i class="icon icon-social-linkedin"></i>
                  <span class="label">LinkedIn</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.github_username %}
              <!-- GitHub -->
              <li class="navigation__item">
                <a href="https://www.github.com/{{ site.author.github_username }}" title="{{ site.author.github_username }} on GitHub" target="_blank">
                  <i class="icon icon-social-github"></i>
                  <span class="label">GitHub</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.youtube_channel_id %}
              <!-- YouTube -->
              <li class="navigation__item">
                <a href="https://www.youtube.com/channel/{{ site.author.youtube_channel_id }}" title="{{ site.author.youtube_channel_id }} on YouTube" target="_blank">
                  <i class="icon icon-social-youtube"></i>
                  <span class="label">YouTube</span>
                </a>
              </li>
            {% endif %}

            {% if site.author.email %}
              <!-- Email -->
              <li class="navigation__item">
                <a href="mailto:{{ site.author.email }}" title="Email" id="4g3bsfsafw">
                  <i class="icon icon-mail"></i>
                  <span class="label">Email</span>
                </a>
              </li>
            {% endif %}

            <!-- RSS -->
            {% if site.show_rss_link %}
            <li class="navigation__item">
              <a href="{{ "feed.xml" | prepend: site.baseurl }}" title="Subscribe" target="_blank">
                <i class="icon icon-rss"></i>
                <span class="label">RSS</span>
              </a>
            </li>
            {% endif %}
          
            </ul>
          </nav>

        </div>

      </div>

    </div>

    <!-- <div class="panel-cover--overlay"></div> -->
  </div>
</header>




<!-- Anit-spam bot security for email address -->
<script>
document.getElementById("4g3bsfsafw").href = document.getElementById("4g3bsfsafw").href.replace(new RegExp('x', 'g'), '').replace(new RegExp('!', 'g'), '@');
</script>



<!-- GLSL eyecandy: style for positioning canvas -->
<style>
canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
</style>

<!-- GLSL eyecandy: vertex shader -->
<script id="vs" type="not-js">
void main()	{
  gl_Position = vec4( position, 1.0 );
}
</script>

<!-- GLSL eyecandy: pixel shader -->
<script id="fs" type="not-js">
  {% include shaders/circuits.glsl %}
</script>

<!-- GLSL eyecandy: Three.js renderer -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r74/three.min.js"></script>
<script>
var $ = document.querySelector.bind(document);
var camera = new THREE.Camera();
camera.position.z = 1;
var scene = new THREE.Scene();
var geometry = new THREE.PlaneBufferGeometry(2, 2);
var uniforms = {
  time: { type: "f", value: 1.0 },
  resolution: { type: "v2", value: new THREE.Vector2() },
  mouse: { type: "v2", value: new THREE.Vector2() },
};
var material = new THREE.ShaderMaterial({
  uniforms: uniforms,
  vertexShader: $('#vs').text,
  fragmentShader: $('#fs').text,
});
var mesh = new THREE.Mesh(geometry, material);
scene.add(mesh);
var renderer = new THREE.WebGLRenderer();

var topElement = document.getElementById("topmost-layer");
topElement.insertBefore(renderer.domElement, topElement.firstChild);
document.body.addEventListener('mousemove', recordMousePosition);

render(0);

function recordMousePosition(e) {
  // normalize the mouse position across the canvas
  // so in the shader the values go from -1 to +1
  var canvas = renderer.domElement;
  var rect = canvas.getBoundingClientRect();

  uniforms.mouse.value.x = (e.clientX - rect.left) / canvas.clientWidth  *  2 - 1;
  uniforms.mouse.value.y = (e.clientY - rect.top ) / canvas.clientHeight * -2 + 1;
}

function resize() {
  var canvas = renderer.domElement;
  //var dpr    = window.devicePixelRatio;  // make 1 or less if too slow
  var dpr    = 0.5;
  var width  = canvas.clientWidth  * dpr;
  var height = canvas.clientHeight * dpr;

  if (width != canvas.width || height != canvas.height) {
    renderer.setSize( width, height, false );
    uniforms.resolution.value.x = renderer.domElement.width;
    uniforms.resolution.value.y = renderer.domElement.height;
  }
}

function render(time) {
  resize();
  uniforms.time.value = time * 0.001;
  renderer.render(scene, camera);
  requestAnimationFrame(render);
}
</script>
